body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 130vh;
    background: #fff;
    /*background-image: url('img/i3.jpg');*/
    background-size: cover;
    background-position: center;
}

.stage {
  height: 160vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.actor {
  animation: kenburns 30s linear infinite;
  background-size: cover;
  background-position: 50%;
  height: 160vh;
  inset: 0;
  opacity: 0;
  position: absolute;
  scale: 1.2;
  width: 100vw;
}

.actor:nth-child(1) {
  background-image: url('img/i3.jpg');
}
.actor:nth-child(2) {
  animation-delay: 10s;
  background-image: url('img/i1.jpg');
}
.actor:nth-child(3) {
  animation-delay: 20s;
  background-image: url('img/i5.jpg');
}

@keyframes kenburns {
  25% {
    opacity: 1;
  }

  50% {
    opacity: .8;
    scale: 1;
  }

  60% {
    opacity: 0;
  }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 20px 100px;
    background: transparent;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: black;
    user-select: none;
}

.navigation a{
  position: relative;
  font-size: 1.1em;
  color: #000;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.container{
    margin-top: 7.5%;
    margin-left: 36%;
    width: 400px;
    height: 865px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display: inline-block;
    margin-bottom: 0rem;
}

label.error {
  color: red;
}

h2 {
    margin-top: 0%;
    margin-left: 15%;
}

.container .form-box{
    width: 100%;
    padding: 40px;
}

.form-group{
    position: relative;
    width: 100%;
    height: 60px;
    margin: 25px 0;
}

.form-group input{;
    width: 100%;
}

.btn{
    margin-left: 35%;
    margin-top: 15%;
    justify-content: center;
    align-items: center;
}

/* CSS for result container */
.result-container {
    margin-top: -100px;
    max-width: 500px;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
/* CSS for back button */
.back-button {
    display: block;
    width: 100px;
    height: 40px;
    margin: 20px auto 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

